
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Luckiest+Guy&family=Mukta&family=Nunito&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Viga&display=swap');

    body{
        /*background-image:url(../assets/wallpaper.jpg);*/
        /*background-image:url('https://cdn1.vectorstock.com/i/1000x1000/37/20/pasta-pattern-background-vector-14473720.jpg');*/
        /*background-size: cover;*/
    }

    .cadre{
        border: 1px solid;
        border-image: linear-gradient(#bbc,#dde,#bbc)) 90;
        margin-top:8%;
        opacity: 0.9;
    }
    .test{
        border: 1px solid;
        border-image: linear-gradient(#99a,#ccd,#99a) 9;
    }

    *{
        font-family:'Nunito';
    }
    h4{
        font-family:'C.O.D.E.R.';
        letter-spacing:0.2rem;
        text-align: center;
        line-height: 2.4rem;
        opacity: 0.5!important;
    }
    h3{
        font-family:'C.O.D.E.R.';
        letter-spacing: 0.3rem;
        text-align: center;
        opacity:0.5!important;
    }
    h4, h3{
        text-transform: uppercase;
        /*font-weight:300;*/
        font-size:1.4rem;
        padding-top: 0.7rem;
        color:#667;
        opacity: 0.7;
    }

    h4 i:hover{
        color:inherit;
    }
    .btn{
        font-size:1rem;
        font-family:'Luckiest Guy';
    }


    label{
        text-transform: uppercase;
    }
    button{
        text-align:center;
    }
    /*.table td{*/
    /*    padding:0.4rem;*/
    /*    margin:0;*/
    /*}*/
    thead{
        background:linear-gradient(45deg,#334,#667,#334);
    }
    th{
        padding-top:0!important;
        padding-bottom:0!important;
        letter-spacing: 0.1rem;
    }

    .table{
        margin-bottom:0;
    }

    .scroller {
        width: auto;
        height: 400px;
        overflow-y: scroll;
        scrollbar-color: #667 whitesmoke;
        scrollbar-width:thin;
    }

    table tr:hover{
        color:#667;
    }
    .table td:hover{
        border-bottom:1px solid #667!important;
        /*transition-property:border;*/
        transition:0.4s;
    }

    .table{
        text-align:center;
    }

    table tr:hover th{
        color:whitesmoke;
    }
    table tr th i{
        color:white;
        padding-bottom:0.2rem;
        padding-left:0.2rem;
        padding-right:0.2rem;
        border:2px solid transparent;
        border-radius: 16%;
    }
    i{
        border:2px solid transparent;
        /*padding:0.2rem;*/
    }
    tr td a i{
        color:#667;
    }
    .table tr td, .table tr td i{
        padding:0;
        line-height:2.4rem;
    }
    table tr th i:hover{
        border:2px solid orange;
    }
    i:hover{
        color:darkorange;
    }
    .tri:hover{
        text-decoration: none;
        /*background:yellow;*/
        border-radius:4%;
    }
    i{
        /*color:mediumslateblue;*/
    }
    li, ul li .alert{
        list-style-type: none;

    }

    ul{
        padding:0!important;
        margin:0!important;
    }

    .usten{
        transform:rotate(36deg);
    }
    .ustenleft{
        transform:rotate(-36deg);
    }

    .form-control-plaintext, .fa-toolbox{
        display:inline-flex;
    }
</style>